{
    "extends": "@react-native-community",
    "overrides": [
        {
            "files": ["*"],
            "extends": [],
            "rules": {
                "quotes": [1, "double"],
                "react-native/no-inline-styles": 0
            }
        }
    ]
}
